/* adapted from loading.io */

.lds-dual-ring {
  float: right;
  margin: 0;
  padding: 0;
  padding-right: 1em;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 3px solid white;
  border-color: #00D9C0 transparent #FF4365 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}